# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Optional DB and data files (if you're simulating a DB)
db/*.json
!db/progress.json  # Uncomment if you want to track progress.json

# Misc
*.swp
